body{
	margin: 0;
	padding: 0;
	text-align: left;
	color: white;
	font-family: 'Arial',sans-serif;
	background-color: #75e71c;
}
h2{
	font-size: 20px;
}
h1{
	color: white;
}
.inicio{
	width: 200px;
	height: auto;
	background-color: #75e71c;

}
.datos{
	/*margin-top: 20px;
	*/
}
a:visited,a:link{
	margin: 5px 5px 5px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	font-family: 'Arial';

}
input[type="text"],input[type="password"]{
	outline: none;
	padding: 10px;
	margin: 5px auto;
	width: 200px;
	display: block;
	border: 1px solid #ff5733;
	border-radius: 10px;

}
input[type="submit"]{
	background: #900c3f;
	/*#5f9ea0;*/
	color: white;
	padding: 15px 15px;
	margin: 4px auto;
	/*border: 1px solid #555;*/
	border-radius: 6px;
	

}
.selec{
	padding: 10px;
	margin: 10px auto;
	width: 280px;
	border: 1px solid #ff5733;
	border-radius: 10px;
}
.cuerpo{
 background-color: #4ed2e5;
}
header{
	background: #4ed2e5;
	justify-content: space-between;

}


.Contenido{
	padding-bottom: 30px;
	vertical-align: left;
}
.Contenido div{
	background-color: #4ed2e5;
	text-align: left;
}
.Contenido h1{
	color: white;
}

.Contenido p{
	color: white;
	padding: 20px 10px;
	text-align: left;
}

.tablas table{
	background-color: #75e71c;
	color: white;
	text-orientation: left;
	border-collapse: collapse;
	margin: auto auto auto;
}

.tablas td,th,tr{
	border: 1px solid;
	padding: 5px;
}
 
.tablas table,th{
	background-color: #bb7bd8;
	border-right:  4px solid;
	text-align:left;
}